.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

input {
  padding: 10px;
  margin: 10px;
  font-size: 1em;
}

button {
  padding: 10px;
  margin: 10px;
  font-size: 1em;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  margin: 5px 0;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}

li span {
  margin-right: 20px;
}
